body {
    font-family: "helvetica neue", sans-serif, arial;
    font-size: 14pt;
    margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
/*	background:#fff url(../img/background.png) repeat top center;*/
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
    text-align:center;
}
#answer {
			font-size: 120pt;
			font-weight: bold;
			color: #000;
			position: relative;
			padding-bottom: 0.15em;
}

#date {
			font-size: 80pt;
			font-weight: bold;
			color: #660066;
			position: relative;
			padding-bottom: 0.15em;
}

#why, #guessed {
            text-align:center;
			color: #777;
            font-size: 20pt;
			top: 185pt;
		}
        
#ptxt {
            text-align:center;
			color: #660066;
            font-size: 20pt;
            top: 185pt;
}        

#utxt a {
	color:#660066;
	text-decoration:none;
}
#utxt a:hover {
	color:#990099;
	text-decoration:none;
}

#utxt {
            text-align:center;
			color: #550055;
            font-size: 20pt;
            top: 185pt;
}  
#underframe {
    margin-top:240px;
    }

a {
	color:#369;
	text-decoration:none;
}
a:hover {
	color:#6699cc;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
	font-size:30pt;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:0px 0 0px;
}


/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#eee;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#6699cc;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#6699cc;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:show;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:show;
}
/* 2 Column (right menu) settings */
.rightmenu {
	background:#fff  url(../img/background.png) repeat top center;		/* right column background colour */
}
.rightmenu .colleft {
	left:0%;			/* right column width */
	background:#fff url(../img/background.png) repeat top center;		/* left column background colour */
}
.rightmenu .col1 {
	width:33%;			/* left column content width (left column width minus left and right padding) */
	left:0%;			/* (right column width) plus (left column left padding) */
}
.rightmenu .col2 {
	width:33%;			/* right column content width (right column width minus left and right padding) */
	left:0%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}
.rightmenu .col3 {
	width:33%;			/* right column content width (right column width minus left and right padding) */
	left:0%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}
/* Footer styles */
#footer {
	position:fixed;
    bottom:0;
    left:0;
    clear:both;
	float:left;
	width:100%;
	color: #660066;
	text-align:right;
	font-size:10px;
}
#footer p {
	padding:10px;
	margin:0;
}
#wrapper {
			display: table-cell;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			text-align: center;
			top: 8%;
			vertical-align: middle;
		}
#innerwrapper {
			height: 1.5em;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			width: 75%;
		}
                
/* styles for jQuery Slider */
#container {
	width:580px;
	padding:0px;
	margin:0 auto;
	position:relative;
    padding-bottom:10px;
    padding-top:15px;
	z-index:0;
}

#example {
	width:600px;
	height:450px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:450px;
	top:-3px;
	left:-80px;
}

#sm_frame {
	position:absolute;
	z-index:0;
	width:427px;
	height:285px;
	top:-30px;
	left:15px;
}

#sm_framed_pic {
	position:absolute;
	z-index:0;
	width:338px;
	height:225px;
	top:1px;
	left:59px;
}

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:170px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#next .img {
    margin:0;
    }
    
.slides_container {
	width:570px;
	height:382px;
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_container a {
	width:570px;
	height:382px;
	display:none;
}

#slides .next {
	left:585px;
}

#content {
	float:left;
	width:350px;
	font-size:1.4em;
	margin-right:20px;
	font-size:1.3em;
}

.pagination {
	margin:25px auto 0;
    padding:0px;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
    list-style-type:none;

}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(/img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
    list-style-type:none;
}

.pagination li.current a {
	background-position:0 -12px;
    list-style-type:none;

}

/* end slider settings */
div.placescontainer{
  margin: 0 auto 20px;
  width: 840px;
  padding: 0;
  text-align: center;
}

div.placescollection {
  padding: 0;
  width: 100%;
  margin-left: 20px;
  float: left;
  text-align: left;
  position: relative;
  }

div.places{
  display: block;
  width: 250px;
  height: 175px;
  text-align: left;
  float: left;
  margin: 0 30px 20px 0;
  text-decoration: none;
  color: #606;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.3em;
}

div.places a img{
  padding: 1px;
  border: 5px solid #000;
  margin-bottom: 10px;
}

div.places span{
  color: #000;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 10px;
  }

div.places a:hover{
  color: #606;
}

div.places a:hover span{
  color: #606;
}

div.places a{
  color: #99f;
}

div.places a:hover img{
  border: 5px solid #999;
}
