<script type="text/javascript">
    function WriteColDivTag(columnId) 
    {
        //var msg = "document width: " + document.width + " px.\n col is " + columnId;
        if (document.width < 1080)
        {
            document.write("<div class=\"colleft\">");
        }
        else
        {
            document.write("<div class=\"col"+columnId+"\">");
        }
    }
</script>

<body>
<p><p><p>
    
    <div id="container">
        <div align="center" style="padding-bottom: 15px;"><img src="img/wgm.png"></div>
        <div id="example">
            <div id="slides">
                <div class="slides_container">
                    <img src="img/canal.jpg" alt="A n S in Corinth">
                    <img src="img/monterey.jpg" alt="Dont get eaten by fishes">
                    <img src="img/2078765853_cea9d40797_z.jpg" alt="Slide 3">
                    <img src="img/117037943_96f1404ed8_z.jpg" alt="Slide 4">
                    <img src="img/5230963362_b55904fbcd_z.jpg" alt="Stained Glass">
                    <img src="img/stnorbert0065.jpg" alt="Church">
                    <img src="img/3152515428_8e057156ba_z.jpg" alt="Slide 7">
                </div>
                <a href="#" class="prev"><img src="img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
                <a href="#" class="next"><img src="img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
            </div>
            <img src="img/frame.png" width="739" height="450" alt="Frame" id="frame">
        </div>
    </div>
    
    
    <br><br>
    <div class="colmask rightmenu">
        <div class="colleft">
            <script type="text/javascript">WriteColDivTag(1);</script>
                <div id="utxt">
                    <a href="/wherewhen">
                        <img src="img/rose.png">
                    
                    <br>
                    All the Where's 'n When's</a>
                </div>
            </div>
            <script type="text/javascript">WriteColDivTag(2);</script>
                <div id="utxt">
                    <a href="/stuff">
                        <img src="img/where.png">
                    
                    <br>The other wedding-y stuff</a>
                </div>
            </div>
            <script type="text/javascript">WriteColDivTag(3);</script>
                <div id="utxt">
                    <div class="slides">
                        <a href="/fun">
                            <img src="img/nextstop.png">
                        
                        <br>It's Saturday the 29th, now what?!??</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>