<script type="text/javascript">
    function WriteColDivTag(columnId) 
    {
        //var msg = "document width: " + document.width + " px.\n col is " + columnId;
        if (document.width < 1080)
        {
            document.write("<div class=\"colleft\">");
        }
        else
        {
            document.write("<div class=\"col"+columnId+"\">");
        }
    }
</script>

<body>
    <img src="img/wgm.png" style="align:center;">
    
    <div id="container">
        <div id="example">
            <div id="slides">
                <div class="slides_container">
                    <img src="img/canal.jpg" alt="A n S in Corinth">
                    <img src="img/crazykids.jpg" alt="Now that looks fun">
                    <img src="img/colsilly.jpg" alt="Where'd they go now?">
                    <img src="img/lights.jpg" alt="No Persids for you!">
                    <img src="img/beachsmile.jpg" alt="Isnt the beach fun?">
                    <img src="img/monterey.jpg" alt="Dont get eaten by fishes">
                    <img src="img/baldy.jpg" alt="Go hike a mountain, you two">
                    
                </div>
                <a href="#" class="prev"><img src="img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
                <a href="#" class="next"><img src="img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
            </div>
            <img src="img/frame.png" width="739" height="450" alt="Frame" id="frame">
        </div>
    </div>
    
    
    <br><br>
    <div class="detailscontainer">
        <div class="detailscollection">
            <div class="detail">
                <a href="/wherewhen">
                    All the Where's 'n When's
                    <br>
                    <img src="img/rose.png">
                </a>
            </div>
            <div class="detail">
                <a href="/stuff">
                    The other wedding-y stuff<br>
                    <img src="img/where.png">
                </a>
            </div>
            <div class="detail">
                <a href="/fun">
                    It's Saturday the 29th, now what?!?? <br>
                    <img src="img/nextstop.png">
                </a>
            </div>
        </div>
    </div>
</body>