
<div class="placescontainer">
    <img src="img/fs.png">
    <h2 style="margin-top: 6px; margin-bottom: 20px; text-align:center; font-size: 18pt;">
        (for after the weddin')
    </h2>
    <div class="placescollection"> 
    <h2 style="margin-top: 6px; margin-bottom: 20px; text-align:left; font-size: 14pt;">
        Eat 'Til you Explode
    </h2>
    <div class="places">
        <a href="http://izakayawasa.com/" target="new">
            <img src="img/wasa.jpg" title="Heeeere FishyFishyFishy!" style="width:240px;height:180px;">
        </a>
        Izakaya Wasa
        <div class="addy">
            <a href="http://maps.google.com/maps?q=59+Fortune+Drive,+Irvine,+CA" target="new">
                59 Fortune Drive, Irvine
            </a>
        </div>
        <span>
            Andy and Steph's post-training sushi happy hour.  12-5pm Every day!!!
        </span>
    </div>
    <div class="places">
        <a href="http://www.crabcooker.com" target="new">
            <img src="img/crabcooker.jpg" title="More FishyFishyFishy?" style="width:240px;height:180px;">
        </a>
        The Crab Cooker
        <div class="addy">
            <a href="http://maps.google.com/maps?q=2200+Newport+Blvd,+Newport+Beach,+CA" target="new">
                2200 Newport Blvd, Newport Beach
            </a>
        </div>
        <span>
            EAT MORE FISH!<br>Both the Castners and the Archinals HAVE to eat here once per trip...
        </span>
    </div>
    <div class="places">
        <a href="http://www.portillos.com/portillos/locations/" target="new">
            <img src="img/tillos.jpg" title="Burgers and italian beefs and combo samiches, oh my!" style="width:240px;height:180px;">
        </a>
        Portillos
        <div class="addy">
            <a href="http://maps.google.com/maps?q=8390+La+Palma+Ave.,+Buena+Park,+CA" target="new">
                8390 La Palma Ave., Buena Park
            </a>
        </div>
        <span>
            The Chicago landmark, right here in California.  Get your little slice of home.
        </span>
    </div>
    <h2 style="margin-top: 6px; margin-bottom: 20px; text-align:left; font-size: 14pt;">
          Shop 'Til you Drop
    </h2>
    <div class="places">
        <a href="http://www.thedistricttl.com/" target="new">
            <img src="img/district.jpg" style="width:240px;height:180px;">
        </a>
        The District
        <div class="addy">
            <a href="http://maps.google.com/maps?q=2985+Park+Ave.,+Tustin,+CA" target="new">
                2985 Park Ave., Tustin
            </a>
        </div>
        <span>
            Great Shopping, Great Food, BOWLING and Movies
        </span>
        <span></span>
    </div>
    <div class="places">
        <a href="http://www.southcoastplaza.com/" target="new">
            <img src="img/scp.jpg" style="width:240px;height:180px;">
        </a>
        South Coast Plaza Mall
        <div class="addy">
            <a href="http://maps.google.com/maps?q=3333+Bristol+St.,+Costa+Mesa,+CA" target="new">
                3333 Bristol Street, Costa Mesa
            </a>
        </div>
        <span>
            The only place you really want to shop. Gourmet food will find you here.
        </span>
    </div>
    <div class="places">
        <a href="http://www.shopirvinespectrumcenter.com/" target="new">
            <img src="img/spec.jpg" style="width:240px;height:180px;">
        </a>
        The Spectrum
        <div class="addy">
            <a href="http://maps.google.com/maps?q=71+Fortune+Drive,+Irvine,+CA" target="new">
                71 Fortune Drive, Irvine
            </a>
        </div>
        <span>
            A mall with a ferris wheel?<br>Andy and Steph approve!<br>Also, Wasa's here!<br>
        </span>
    </div>
    <h2 style="margin-top: 6px; margin-bottom: 20px; text-align:left; font-size: 14pt;">
        Have fun in the Sun
    </h2>
    <div class="places">
        <a href="http://www.crystalcovestatepark.com/" target="new">
            <img src="img/crystalcove.jpg" style="width:240px;height:180px;">
        </a>
        Crystal Cove State Park 'n Beach
        <div class="addy">
            <a href="http://maps.google.com/maps?q=Coast+Highway+and+Newport+Coast+Drive,+Newport+Beach,+CA" target="new">
                State Park Rd, Newport Beach
            </a>
        </div>
        <span>
            Tide pools, long walks and beautiful views await you.  No surf though.
        </span>
    </div>
    <div class="places">
        <a href="http://www.greatparkballoon.org/" target="new">
            <img src="img/ocgp.jpg" style="width:240px;height:180px;">
        </a>
        Orange County Great Park Balloon
        <div class="addy">
            <a href="http://maps.google.com/maps/ms?msa=0&msid=209435771802991060747.0004a48813b79bfbf8bcc&ie=UTF8&ll=33.673993,-117.742898&spn=0.003,0.005611&z=18&iwloc=0004a4882fd72a7f21c05" target="new">
                El Toro MCAS Building #13825<br>7000 Trabuco Rd., Irvine
            </a>
        </div>
        <span>
            Ride a balloon to see all of Orange County, the ocean, and mountains. IT'S FREE!
        </span>
    </div>
    <div class="places">
        <a href="http://www.parks.ca.gov/?page_id=652" target="new">
            <img src="img/cdm.jpg" style="width:240px;height:180px;">
        </a>
        Orange County Great Park Balloon
        <div class="addy">
            <a href="http://maps.google.com/maps?q=Jasmine+Ave.+and+Ocean_Blvd.,+Corona+Del+Mar,CA" target="new">
                Jasmine Ave & Ocean Blvd, Corona Del Mar
            </a>
        </div>
        <span>
            Ride a balloon to see all of Orange County, the ocean, and mountains. IT'S FREE!
        </span>
    </div>
</div>
