<div class="placescontainer" style="text-align:left;">
    <img src="img/xtras.png" style="margin-left: -44px;">
    <h2>Registry Info</h2>
    <br>
    We're registered at: (click to follow into the registries)
    <div class="container" align="center">
    <ul style="list-style:none;">
        <li>
            <a href="http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4739122" target="new"><img src="img/cbl.jpg"></img></a>
        </li>
        <br>
        and
        <li><a href="http://www1.macys.com/registry/wedding/guest/?registryId=497322" target="new"><img src="img/mcys.jpg"></a>
        </li>
    </ul>
    <br><br>
    <a href="http://www.rei.com/PrepareGiftCertificate?gc_delivery=GCARD&gc_quantity=1&viewControl=INIT&storeId=8000&langId=-1" target="new">
        Didn't see anything you like? We're going campin' for our honeymoon, so we'll be outfitting before we go at REI...
        <img src="img/rei.jpg" style="height:30%; width:30%;"></img>

    </a>
    </div>

    <h2>More Hotel Details</h2>
    <div class="container" align="center">
    <img src="http://embassysuites1.hilton.com/en_US/es/media/images/logos/logo.gif">
    <br>
    To make reservations via phone:<br>&nbsp;&nbsp;&nbsp;call Mark at 714-241-3331<br>
    To make reservations via internet:<br>&nbsp;&nbsp;&nbsp; go <a href="http://embassysuites.hilton.com/en/es/groups/personalized/S/STAESES-XCW-20111027/index.jhtml?WT.mc_id=POG" target="new">here to do that</a>
    <p>
    Check-In: 3:00 PM - Check-Out: 12:00 PM 
    </div>
    <br>                  
    We recommend that you call Mark directly to make arrangements if you plan on staying longer than Thursday and Friday night. He'll be more than happy to help you sort through booking a longer trip (he told us so himself!).<br><br>

    <div class="container" align="center">
    Click <a href="http://embassysuites1.hilton.com/en_US/es/hotel/STAESES-Embassy-Suites-Santa-Ana-Orange-County-Airport-North-California/index.do" target="new">here for general hotel information<br><img src="http://embassysuites1.hilton.com/ts/en_US/hotels/content/STAESES/media/images/photo_gallery/STAESES_Embassy_Suites_Santa_Ana-Orange_County_Airport_North_home_left.jpg"></a><br><br>
    </div>    
    <h2>Airport Advice</h2>
    You should seriously consider flying into John Wayne International Airport (airport code SNA).  If you fly into LAX, you'll most likely spend A LOT of time in the car in traffic.  LAX is about 40 miles away from the Hotel, and almost 50 miles from our house!
</div>
