<div class="placescontainer" style="text-align:left;">
    <h1>All the other wedding details you wanted...</h1>
    <h2>Registry Info</h2>
    We're registered at:
    <ul>
        <li>
            <img src="img/map3.jpg" style="height:200px; width:250px;">
            Crate and Barrel</img>
        </li>
        <li>Macy's</li>
    </ul>
    <img src="img/map3.jpg" style="height:200px; width:250px;"></img>
    <p>
    Didn't see anything you like? We're going campin' for our honeymoon, so we'll be outfitting before we go at REI...
    
    <h2>More Hotel Details</h2>
    Stuff nobody will read about hotels...
</div>
