<div class="placescontainer" style="text-align:left; font-size:20px">
    <img src="img/xtras.png" style="margin-left: -44px;">
    <h2>Registry Info</h2>
    <br>
    We're registered at: (click to follow into the registries)
    <div class="container" align="center">
    <ul style="list-style:none;">
        <li>
            <a href="http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4739122" target="new"><img src="img/cbl.jpg"></img></a>
        </li>
        <br>
        and
        <li><a href="http://www1.macys.com/registry/wedding/guest/?registryId=497322" target="new"><img src="img/mcys.jpg"></a>
        </li>
    </ul>
    <br><br>
    <a href="http://www.rei.com/GiftRegistryDetails/GR2404554" target="new">
        Didn't see anything you like?<br>We're going campin' for our honeymoon, so we'll be outfitting before we go at REI...<br>
        <img src="img/rei.jpg"></img>

    </a>
    </div>

    <h2>More Hotel Details</h2>
    <div class="container" align="center">
        <img src="http://embassysuites1.hilton.com/en_US/es/media/images/logos/logo.gif">
    </div>
    <br>
    To make reservations via phone:<br>&nbsp;&nbsp;&nbsp;call Embassy Suites central reservations number at 800.868.3778 or the hotel's number 714.241.3307<br>
    To make reservations via internet:<br>&nbsp;&nbsp;&nbsp; go <a href="http://embassysuites.hilton.com/en/es/groups/personalized/S/STAESES-XCW-20111027/index.jhtml?WT.mc_id=POG" target="new">here to do that</a>
    <p>
    Check-In: 3:00 PM - Check-Out: 12:00 PM 
    <br>                  
    We recommend that you call the hotel directly (the 714 number) to make arrangements if you plan on staying longer than Thursday and Friday night. They'll be more than happy to help you sort through booking a longer trip.<br><br>

    The wedding block rate has a cutoff date for reservations on 9/27/2011 so book early!<br><br>

    <h2>Sweet Suites!</h2>
        All the rooms we've reserved for our guests are suites.  The front room has a sleeper sofa if you need to squeeze a few more people in there!  Each room has a microwave and a mini fridge for leftovers.  Also, Embassy Suites is a Hilton Hotel, so if you have Hilton points, you can use them on wedding weekend!  Should you have any questions at all regarding the weedding, reception or accomodations, please don't hesitate to e-mail us at: <a href="mailto:andy@teamstandy.com">andy@teamstandy.com</a> or <a href="mailto:steph@teamstandy.com">steph@teamstandy.com</a>
        
    <br><br>
        
    <div class="container" align="center">
    Click <a href="http://embassysuites1.hilton.com/en_US/es/hotel/STAESES-Embassy-Suites-Santa-Ana-Orange-County-Airport-North-California/index.do" target="new">here for general hotel information<br><img src="http://embassysuites1.hilton.com/ts/en_US/hotels/content/STAESES/media/images/photo_gallery/STAESES_Embassy_Suites_Santa_Ana-Orange_County_Airport_North_home_left.jpg"></a><br><br>
    </div>    
    <h2>Airport Advice</h2>
    You should seriously consider flying into John Wayne International Airport (airport code SNA).  If you fly into LAX, you'll most likely spend A LOT of time in the car in traffic.  LAX is about 40 miles away from the Hotel, and almost 50 miles from our house!
    <h3>
        Need help finding flights? We use: 
    </h3>
    <div id="utxt" style="font-size:14pt; text-align:left;">
        <ul style="margin-top: 0px;">
            <li><a href="http://www.hipmunk.com" target="new">Hipmunk</a></li>
            <li><a href="http://www.bing.com/travel" target="new">bing.com/travel for the FareCasting feature</a></li>
            <li><a href="http://www.kayak.com" target="new">Kayak</a></li>
            <li><a href="http://www.southwest.com" target="new">Southwest</a></li>
        </ul>
    </div>
</div>

<div id="footer">
    Say Hi to <a href="mailto:andy@teamstandy.com">Andy</a> or <a href="mailto:steph@teamstandy.com">Steph</a> with an e-mail !!
</div>
