<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
    </script>
<script type="text/javascript">
    function initialize() 
    {
        var latlng = new google.maps.LatLng(33.737474,-117.805023);
        var myOptions = {
            zoom: 12,
            center: latlng,
            sensor: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"),
                                      myOptions);
        var geocoder = new google.maps.Geocoder();

        var sfimg = 'http://google-maps-icons.googlecode.com/files/market-farm.png';
        var sflatlon = new google.maps.LatLng(33.648053,-117.794907);
        var sfmarker = new google.maps.Marker({map: map, position: sflatlon, icon: sfimg });
        
        var chimg = 'http://google-maps-icons.googlecode.com/files/chapel.png';
        var chlatlon = new google.maps.LatLng(33.815323,-117.849796);
        var chmarker = new google.maps.Marker({map: map, position: chlatlon, icon: chimg });

        var himg = 'http://google-maps-icons.googlecode.com/files/resort.png';
        var hlatlon = new google.maps.LatLng(33.709202,-117.85319);
        var hmarker = new google.maps.Marker({map: map, position: hlatlon, icon: himg });
    }
    </script>

<div align="center">
    <img src="img/whrwhn.png">
</div>
<div class="colmask rightmenu">
    <div class="colleft">
        <div class="col1" style="left:0; width: 60%;">
            <div id="map" style="height: 900px;position: relative; padding-left: 0px; margin-left: 50px; margin-right: 50px;">
                <script type="text/javascript" language="JavaScript">
                    initialize();
                    </script>
                <!--
                 700x750
                <img src="img/map3.jpg">
                 
                <img src="http://maps.google.com/maps/api/staticmap?center=33.737474,-117.805023&zoom=12&size=700x900&markers=icon:http://google-maps-icons.googlecode.com/files/market-farm.png%7C11+Strawberry+Farms+Road,Irvine,CA&markers=icon:http://google-maps-icons.googlecode.com/files/chapel.png%7C300+Taft+Ave,Orange,CA&sensor=false">
                 -->
            </div>
        </div>
        <div class="col3" style="left:0; width: 40%;"> 
                <div class="places">
                    <a href="http://www.stnorbertchurch.org" target="new">
                        <img src="img/church.jpg">
                    </a>
                    
                    St Norbert Parish<br>10/28 3:30 PM<br>
                    <span>
                        300 Taft Ave<br>Orange, CA<br><br>
                    </span>
                    
                    <a href="http://www.strawberryfarmsgolf.com" target="new">
                        <img src="img/sf.jpg">
                    </a>
                    Strawberry Farms Golf Club<br> 10/28 5:00 PM<br>
                    <span>
                        11 Strawberry Farms Rd.<br>Irvine, CA<br><br>
                    </span>
                    
                    <a href="http://embassysuites.hilton.com/en/es/groups/personalized/S/STAESES-XCW-20111027/index.jhtml?WT.mc_id=POG" target="new">
                        <img src="img/hi.jpg">
                    </a>
                    Embassy Suites Santa Ana<br>
                    <span>
                        1325 East Dyer Road<br>
                        Santa Ana, CA<br><br>
                        To make reservations via phone:<br>&nbsp;&nbsp;&nbsp;call Mark at 714-241-3331<br>
                        To make reservations via internet:<br>&nbsp;&nbsp;&nbsp; go <a href="http://embassysuites.hilton.com/en/es/groups/personalized/S/STAESES-XCW-20111027/index.jhtml?WT.mc_id=POG" target="new">here to do that</a><br><br>                     
                        We recommend that you call Mark directly to make arrangements if you plan on staying longer than Thursday and Friday night. He'll be more than happy to help you sort through booking a longer trip (he told us so himself!).<br><br>

                        Click <a href="http://embassysuites1.hilton.com/en_US/es/hotel/STAESES-Embassy-Suites-Santa-Ana-Orange-County-Airport-North-California/index.do" target="new">here for general hotel information</a><br><br>
                    </span>
                    <!--
                    <a href="http://www.hilton.com">
                        <img src="img/rh.jpg">
                    </a>
                    pLace - 10/27 8:30 PM<br>
                    <span>
                        ### nAme Ave<br>Newport Coast, CA<br><br>
                    </span>
                     -->
                </div>
            </div>
    </div>
</div>